<div>
  <h2 style="font-size: 15px;"><%= gettext "Why Unf Swuber?" %></h2>
<p>I did not want to walk to my car. I waited outside the library for someone I knew. Eventually I gave up but the idea was born. Generosity(reputation) and the capital of my parking spot could be used to get me to my car without having to walk alone.</p>
</div>
<a class="twitter-timeline" href="https://twitter.com/SwuberCorp">Tweets by SwuberCorp</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<br><br><br>
  <p>S W U B E R is property of Swoop Corp. | Find us on Social Media
            <p>
                <a href="https://unf-swuber.herokuapp.com"><img src="images/swuber1.jpg" border="0" width="50" height="50"></a>
                <a href="http://www.twitter.com/SwuberCorp"><img src="images/twittericon.png" border="0" width="50" height="50"></a>
                <a href="http://www.instagram.com"><img src="images/instagram.png" border="0" width="50" height="50"></a>
                <a href="http://www.facebook.com"><img src="images/facebook.png" border="0" width="50" height="50"></a>
            </p>

