</div>
<br><br>
<center>
<input id="message-input" class="form-control" style="width:70%; justify-content:center;"/>
</center>

<div id="messages" class="container" style="color:green">
</div>
<div id="footer"style="height:60%">
  <div class="container">
	<br>
    <div class="row">
      <div class="col-sm-2">
        <div class="input-group">
        </div><!-- /input-group -->
      </div>
      <div class="col-sm-10">
      </div>
    </div><!-- /.row -->
  </div>
</div>
